<div class="container1">

    <h1>Muffins</h1>
    <div class="row">
       <div class="col-lg-4"><img class='page-image' src="images/raspberry-muffin.jpg" alt=""></div>
       <div class="col-lg-8">
           <div class="row">
               <% @muffins.each do |item| %>
                   <div class="col-lg-6 col-sm-12 sweet">
                       <img class = 'pic' src = '<%= item.img %>' >
                       <p> <%= item.description %> </p>
                       <p>Price: <%= item.price %> </p>
                   </div>
               <% end %>
            </div>
        </div>
    </div>
</div>
