<!--
<h2>Enter Your Info</h2>
<form action='/submition' method='POST'>
   
    First name: <input type='text' name='f_name'><br>
    Last name: <input type='text' name='l_name'><br>
    <input type='submit' value='Submit'>
</form>-->
